* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background: url("img/wallpaper.png") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 40px;
    border-radius: 12px;
}

.produto {
    display: flex;
    align-items: center;
    gap: 40px;
}

.produto img {
    width: 50%;
}

.info h1 {
    font-size: 45px;
    font-weight: 700;
}

.detalhes {
    font-size: 28px;
    margin: 8px 0;
}

.descricao {
    font-size: 19px;
    font-weight: 200;
    margin-bottom: 16px;
}

.preco {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

button {
    background-color: #7a5446;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 30px;
    border: none;
    padding: 10px 25px;
    width: 400px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #8d5f4e;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s;
}

.voltar:hover {
    transform: scale(1.2);
    color: #cac0bc;
}
