* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/wallpaper.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: relative;
    bottom: 2rem;
}

.cabecalho img {
    width: 40vh;
}

.cabecalho a {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}

.cabecalho a:hover {
    text-decoration: underline;
}

iframe {
    display: flex;
    justify-self: center;
    height: 42.5rem;
    width: 85rem;
    border: 5px solid #202020;
}

.lahd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.txt {
    display: block;
}

.txt h1 {
    color: #fff;
    font-family: "Libre Bodoni", serif;
    font-weight: 800;
    font-size: 150px;
}

.txt a {
    margin-left: 1rem;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    color: rgb(167 167 167 / var(--tw-text-opacity, 1));
}

.txt a:hover {
    text-decoration: underline;
}

.img {
    z-index: 10;
    position: absolute;
    right: 19rem;
}

.passos {
    margin-top: 12%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
    margin-left: 8%;
    margin-right: 8%;
}

.card {
    text-align: center;
}

.card img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.t {
    text-align: center;
    color: #fff;
}

.t span {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.t p {
    margin-top: 1rem;
    font-family: "Libre Bodoni", serif;
    font-weight: 400;
    font-size: 14px;
}

footer {
    margin-top: 15%;
    background-color: #000;
}

.rodape {
    display: flex;
    text-align: center;
}

.logo-fim img {
    width: 160px;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.ctt {
    text-align: left;
}

.rodape span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.ctt p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
    font-size: 12px;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: 20px;
}

.redes span {
    position: relative;
    bottom: 40px;
}

.redes img {
    width: 30px;
    margin: 10px 0;
    position: relative;
    bottom: 30px;
    left: 28px;
}

hr {
    display: flex;
    justify-self: center;
    border: none;
    height: 1px;
    width: 1300px;
    background: #9C4B01;
    margin: 20px 0;
}

.direitos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direitos p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.direitos img {
    width: 150px;
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 8px;
}