* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fundoage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    height: 100vh;
}

.all {
    display: block;
    text-align: center;
}

.logo img {
    width: 50vh;
    margin: none;
    padding: none;
}

.logo h1 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: -105px;
    margin-bottom: 50px;
    font-size: 28px;
}

.form-idade {
    gap: 10px;
}

.form-idade input {
    width: 100px;
    height: 105px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #111;
    color: #fff;
}

.form-idade input::placeholder {
    color: #888;
    letter-spacing: 1px;
}

.text-btn p {
    color: #ffffff68;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-btn button {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.text-btn button:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

footer {
    background-color: #000;
}

.rodape {
    display: flex;
    text-align: center;
}

.logo-fim img {
    width: 160px;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.ctt {
    text-align: left;
}

.rodape span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.ctt p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
    font-size: 12px;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: 20px;
}

.redes span {
    position: relative;
    bottom: 40px;
}

.redes img {
    width: 30px;
    margin: 10px 0;
    position: relative;
    bottom: 30px;
    left: 28px;
}

hr {
    display: flex;
    justify-self: center;
    border: none;
    height: 1px;
    width: 1300px;
    background: #9C4B01;
    margin: 20px 0;
}

.direitos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direitos p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.direitos img {
    width: 150px;
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 8px;
}